[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alembic = "*"
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
snapshottest = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
Sphinx = "*"
pipenv-setup = "*"
httmock = "*"

[packages]
aurora-data-api = "==0.1.3"
beautifulsoup4 = "*"
click = "*"
click-log = "*"
fake-useragent = "*"
pytz = "*"
python-markdown-slack = "*"
requests = "*"
sqlalchemy-aurora-data-api = "==0.1.4"
Flask = "*"
Flask-SQLAlchemy = "*"
Markdown = "*"
SQLAlchemy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
